$black: #000000;
$green: #99b800;
$purple: #1e1354;
$orange: #f69918;
$white: #ffffff;

* p {
    margin: 0;
}

* ul,
* li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

* a:hover {
    color: $white;
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    position: relative;
    font-family: "Arial";
    line-height: 20px;

    &.popup_on {
        overflow-y: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 10px 15px;

    li {
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid $purple;
        padding: 5px 10px;
        border-radius: 15px;
        width: 145px;
        text-align: center;
        background: $purple;

        a {
            color: $white;
            font-weight: bolder;
        }
    }
}

.menu {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    span {
        position: relative;
        width: 30px;
        height: 2px;
        background: $purple;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background: $purple;
            bottom: 8px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background: $purple;
            top: 8px;
        }
    }
}

header {
    position: relative;
    background: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 20px;

    @media screen and (max-width: 767px) {
        padding: 60px 20px;
    }

    .header__content {
        position: relative;

        .header__logo {
            width: 300px;
            margin: auto;
            margin-bottom: 100px;

            @media screen and (max-width: 575px) {
                width: 270px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 400px) {
                width: 250px;
            }
        }

        .header__info {
            text-align: center;
            color: $black;
            font-weight: 500;
            margin-bottom: 60px;
            font-size: 20px;

            @media screen and (max-width: 767px) {
                font-size: 18px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 400px) {
                font-size: 16px;
            }
        }

        .header__button {
            text-align: center;
            margin-bottom: 60px;

            @media screen and (max-width:575px) {
                margin-bottom: 35px;
            }

            p {
                font-weight: bolder;
                margin-bottom: 10px;
            }

            button {
                border: none;
                background: $green;
                color: $white;
                padding: 15px 35px;
                border-radius: 10px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                margin: auto;
            }
        }

        .header__socialmedia {
            .h__sm__ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                column-gap: 50px;
            }
        }
    }

    .box {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0%);

        span {
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 3px solid $orange;
            border-right: 3px solid $orange;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;

            &:nth-child(2) {
                animation-delay: -0.2s;
            }

            &:nth-child(3) {
                animation-delay: -0.4s;
            }
        }

        @keyframes animate {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 1;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }
    }
}

.tratamientos {
    position: relative;
    padding: 100px 20px;

    .tratamiento__info {
        h1 {
            color: $purple;
            text-align: center;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            margin-bottom: 45px;
        }

        ul {
            width: 250px;
            margin: auto;

            li {
                position: relative;
                margin-bottom: 20px;
                padding-left: 40px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: url("../images/check.png");
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.ubicaciones_mapa {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    text-align: center;


    @media screen and (max-width:575px) {
        grid-template-columns: 100%;
        grid-column-gap: inherit;
        text-align: inherit;
        margin-top: 50px;

        .lima_mapa {
            margin-top: 50px;
        }
    }
}

.mapa {
    position: relative;
    padding: 100px 20px;
    background: $green;

    h2 {
        text-align: center;
        color: $white;
        font-weight: bolder;
    }

    h3 {
        color: $white;
        text-transform: uppercase;
    }

    .mapa__text {
        color: $white;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mapa__huacho {
        overflow: hidden;
        border-radius: 10px;

        iframe {
            width: 100%;
        }
    }
}

.socialMedia {
    position: relative;
    padding: 100px 20px;

    .header__button {
        text-align: center;
        margin-bottom: 60px;

        p {
            font-weight: bolder;
            margin-bottom: 10px;
        }

        button {
            border: none;
            background: $purple;
            color: $white;
            padding: 15px 35px;
            border-radius: 10px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            margin: auto;
        }
    }

    .header__socialmedia {
        .h__sm__ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            column-gap: 50px;
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
    background: $purple;
    color: $white;

    a {
        text-decoration: none;
        color: $white;
        font-weight: bolder;
    }
}

.popup_tratamiento {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: $white;
    padding: 50px 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #000;
    z-index: 10;
    display: none;

    &.popup_active {
        display: block;
    }

    .cerrar {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 18px;
        background: $orange;
        color: $white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .titulo {
        text-align: center;
        color: $purple;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .informacion {
        text-align: center;
        margin-bottom: 30px;
    }

    .images {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .info_tratamiento_off {
        display: none;
    }

    .info_tratamiento_on {
        display: block !important;
    }
}